params {
    genome = "references/GRCh38.p14.genome.fa"
    reads = "prac_reads/SRR*{1,2}.fastq"
    whitelist = "references/whitelist"
    annotations = "references/gencode.v37.chr_patch_hapl_scaff.annotation.gtf"
    contamination = "references/trna_rrna_contam.fasta"
    ex_annotation = "references/gencode.v37.chr_patch_hapl_scaff.annotation.annotations.pickle"
    umilen = 10
    cblen = 10
    outdir = null
    trained_model = "references/trained_model.RData"
    starIndex = "references/gengen"
    maskgenome = "references/GRCh38.p14.genome_clean.fasta"

    //star options
    star_out = 'NH HI AS nM NM MD jM jI MC ch CR CB UR UY GX GN CY UY sS sQ sM'
}
